* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
:root {
    --header-bg: #10375c;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ====Common==== */

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    text-align: center;
    background: #2e80ce;
    border-radius: 30px;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ====Header==== */
.header {
    min-height: 100vh;
    background-color: var(--header-bg);
    padding: 20px 0 110px;
}

.header-top {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    margin-top: 0.1em;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 0 42px;
}

.navbar__item--active::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.navbar__link {
    padding: 4px 0;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.navbar__item--active,
.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0px 0px currentColor;
}
.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 28px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action__login:hover {
    color: #fff;
    text-shadow: 1px 0px 0px currentColor;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    border-radius: 22px;
}

/* ====Hero==== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    width: 44.2%;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
}

.hero__image {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ====Service==== */
.service {
    padding: 170px 0;
}

.section__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    margin-top: 18px;
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.service__title,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
}

.service-bottom {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item {
    display: flex;
    width: 470px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.2);
}

.service-item:not(:first-child) {
    margin-top: 41px;
}

.service-item__text {
    width: 351px;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    transition: 0.25s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}
.service-item__title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.23;
}

.service__icon {
    margin-right: 19px;
    width: 60px;
    height: 60px;
}
.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* ====Work__list==== */
.work {
    padding: 100px 0 116px 0;
    background: #f6fbff;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    margin-top: 70px;
}

.work__item {
    padding: 43px 42px;
    border-radius: 4px;
    background: #fff;
    border: #eaf6ff 16px solid;
    transition: 0.25s;
}

.work__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work__item__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work__item__desc,
.work__item__learn {
    margin: 28px 0 18px 0;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    transition: 0.25s;
}

.work__item:hover .work__item__learn {
    color: #2e80ce;
}

/* ====Features==== */

.features {
    margin-top: 85px;
    padding: 85px 0;
}

.features-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features__image {
    position: relative;
    width: 48.72%;
    padding-bottom: 121px;
}

.features__img-1 {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.features__img-2 {
    position: absolute;
    top: 121px;
    right: 0;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.features__content {
    width: 468px;
}

.features__btn {
    display: inline-block;
    margin-top: 38px;
}

/* ====Member==== */
.member {
    margin: 85px 0;
}

.member__title {
    text-align: center;
}

.member__btn {
    margin-top: 38px;
    text-align: center;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 30px;
    margin-top: 70px;
}

.member-item:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.member__image {
    padding-top: 28px;
    width: 270px;
    height: 318px;
    background: #eaf6ff;
    border-radius: 6px;
}

.member__img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
}

.member-item__title {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member-item__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.member__inner {
    display: flex;
    justify-content: center;
    gap: 0 18px;
    margin-top: 38px;
}

.member__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575f66;
    border: solid 1px #575f66;
    outline: none;
    background: #fff;
    cursor: pointer;
    transition: 0.25s;
}
.member__control:hover {
    color: #fff;
    background: #2e80ce;
    border-color: transparent;
}
